*
{
    margin:0;
    padding:0;
    box-sizing:board-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color:lightblue;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container{
    width: 300px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}

h2{
    margin-bottom: 15px;
     color:#333;

}

input{
    
     width: 80%;
     padding: 10px;
     margin: 10px 0;
     border: 1px solid #ccc;
     border-radius: 5px;  
     font-size: 14px; 
}

button{
    width: 100%;
    padding: 10px;
    background-color: rgb(76, 132, 216);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(121, 121, 231);
}